/* Makes posters the original size in the Library view and Home screen */
@media (min-width: 31.25em) {

  .layout-desktop .portraitCard,
  .layout-desktop .smallBackdropCard,
  .layout-desktop .squareCard {
    width: 33.3333333333%;
  }
}

@media (min-width: 43.75em) {

  .layout-desktop .portraitCard,
  .layout-desktop .squareCard {
    width: 25%;
  }
}

@media (min-width: 50em) {

  .layout-desktop .portraitCard,
  .layout-desktop .squareCard {
    width: 20%;
  }

  .layout-desktop .overflowPortraitCard,
  .layout-desktop .overflowSquareCard {
    width: 18.5vw;
  }

  .layout-desktop .smallBackdropCard{
    width: 25%;
  }

}

@media (min-width: 62.5em) {

  .layout-desktop .smallBackdropCard{
    width: 20%;
  }

}

@media (min-width: 75em) {

  .layout-desktop .portraitCard,
  .layout-desktop .smallBackdropCard,
  .layout-desktop .squareCard 
  {
    width: 16.6666666667%;
  }

  .layout-desktop .overflowPortraitCard,
  .layout-desktop .overflowSquareCard {
    width: 15.5vw;
  }
}

@media (min-width: 87.5em) {

  .layout-desktop .portraitCard,
  .layout-desktop .smallBackdropCard,
  .layout-desktop .squareCard {
    width: 14.2857142857%;
  }

  .layout-desktop .overflowPortraitCard,
  .layout-desktop .overflowSquareCard {
    width: 13.3vw;
  }
}

@media (min-width: 100em) {

  .layout-desktop .portraitCard,
  .layout-desktop .smallBackdropCard,
  .layout-desktop .squareCard {
    width: 12.5%;
  }

  .layout-desktop .overflowPortraitCard,
  .layout-desktop .overflowSquareCard {
    width: 11.6vw;
  }
}

@media (min-width: 120em) {

  .layout-desktop .portraitCard,
  /* .layout-desktop .smallBackdropCard, */
  .layout-desktop .squareCard {
    width: 11.1111111111%;
  }

  .layout-desktop .overflowPortraitCard,
  .layout-desktop .overflowSquareCard {
    width: 10.41vw;
  }
}

@media (min-width: 131.25em) {

  .layout-desktop .portraitCard,
  /* .layout-desktop .smallBackdropCard, */
  .layout-desktop .squareCard {
    width: 11.1111111111%;
  }

  .layout-desktop .overflowPortraitCard,
  .layout-desktop .overflowSquareCard {
    width: 10.41vw;
  }
}
