.layout-desktop #itemDetailPage .itemName.infoText.parentNameLast > bdi:first-child,
.layout-desktop #itemDetailPage .parentName > bdi:first-child {
    opacity: 1;

}

.layout-desktop .nameContainer .itemName.infoText.parentNameLast > bdi {
    position: relative;
    top: 5.5em;
}

.layout-desktop #itemDetailPage .parentName .button-link {
    width: 100%;
    margin-top: 18vh;
    height: 6em; 
  }

