/* WIP */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* WIP */
.layout-desktop #itemDetailPage .itemName.infoText.parentNameLast > bdi:first-child,
.layout-desktop #itemDetailPage .parentName > bdi:first-child {
    opacity: 1;

}

.layout-desktop .nameContainer .itemName.infoText.parentNameLast > bdi {
    position: relative;
    top: 5.5em;
}

.layout-desktop #itemDetailPage .parentName .button-link {
    width: 100%;
    margin-top: 18vh;
    height: 6em; 
  }

.layout-mobile .nameContainer .itemName.infoText.parentNameLast > bdi {
    position: relative;
    top: 4em;
}
/* 
.layout-mobile .itemName.parentNameLast {
    margin: -3em 0 0 -0.5em !important;
} */

/* .layout-mobile #itemDetailPage .parentName .button-link {
    height: 6em;  
    width: 100%;
    margin-top: 7vw;
  } */
/* .layout-mobile h1.parentName {
margin: 0 0px 0em !important;
padding-bottom: 0;
height: 6em;
} */

@media (min-width: 40em) and (orientation: landscape) { 
    .layout-mobile .itemBackdrop {
      height: 80vh;
      background-position: 0%;
      mask-image: linear-gradient(to right, transparent, black),
        linear-gradient(to top, transparent, black);
      -webkit-mask-image: linear-gradient(to right, transparent, black),
        linear-gradient(to top, transparent, black);
      mask-composite: source-in;
      -webkit-mask-composite: source-in;
      mask-composite: intersect;
    }
    .layout-mobile .mainDetailButtons {
      justify-content: left;
    }
    .layout-mobile [dir=ltr] .mainDetailButtons {
      padding-left: 10em;
    }    
    .layout-mobile .itemName.parentNameLast {
      margin: 0em 0 0 0 !important;
      height: 5em;
      width: 100%;
    }
    .layout-mobile h1.parentName {
      margin: -6em 0px 0em !important;
      padding-bottom: 3em;
      height: 6em;
     }
    .layout-mobile #itemDetailPage .parentName .button-link {
      height: 3em;  
      width: 100%;
      top: 7em;
    }
    .layout-mobile .itemName.parentNameLast.withOriginalTitle {
      margin: -5em 0 0;
    }
  }

  @media (min-width: 50em) and (orientation: landscape) { 
    .layout-mobile .itemBackdrop {
      height: 123vh;
    }
    .layout-mobile .detailLogo {
        display: block;
        width: 29em;
        left: 2%;
        top: 9vh;
        height: 58vh;
    }
    .layout-mobile [dir="ltr"] .infoWrapper {
      padding-top: 0em !important;
    }
    .layout-mobile .detailPagePrimaryContainer {
      display: block;
      padding: 0rem 2rem 1rem;
      position: relative;
    }
    .layout-mobile .detailPageWrapperContainer {
      top: -16em;
    }
    .layout-mobile .btnPlay.detailButton {
      position: absolute;
      left: 2em;
    }
    .layout-mobile .mainDetailButtons {
      justify-content: left;
    }
    .layout-mobile [dir=ltr] .mainDetailButtons {
      padding-left: 10em;
    }    
    .layout-mobile .itemName.parentNameLast {
      margin: -5em 0px 0em;
      height: 7em;
    }
    .layout-mobile h1.parentName {
      margin: -8em 0px 0em !important;
      padding-bottom: 3em;
      height: 8em;
     }
    .layout-mobile #itemDetailPage .parentName .button-link {
      height: 7em;  
      width: 60%;
    }
    .layout-mobile .itemName.parentNameLast.withOriginalTitle {
      margin: -5em 0 0;
    }
    .layout-mobile .overflowBackdropCard, .layout-mobile .overflowSmallBackdropCard {
      width: 34.1vw;
    }
  }


  @media (min-width: 60em) and (orientation: landscape) { 
    .layout-mobile .itemBackdrop {
      height: 80vh;
  }
    .layout-mobile .detailLogo {
        display: block;
        width: 34em;
        left: 2%;
        top: 7vw;
        height: 30vh;
    }
    .layout-mobile [dir="ltr"] .infoWrapper {
      padding-top: 0em !important;
    }
    .layout-mobile .detailPagePrimaryContainer {
      display: block;
      padding: 0rem 1.75rem 1rem;
      position: relative;
    }
    .layout-mobile .detailPageWrapperContainer {
      top: -20em;
      position: relative;
    }
    .layout-mobile [dir=ltr] .mainDetailButtons {
        padding-left: 12em;
    }
    .layout-mobile .itemName.parentNameLast {
      margin: -5em 0px 0em;
      height: 6em;
    }
    .layout-mobile h1.parentName {
      margin: -11em 0px 0em !important;
      padding-bottom: 4em;
      height: 8em;
    }
    .layout-mobile .listItem-content {
      height: 160px;
    }
    .listItemImage.listItemImage-large.itemAction.lazy {
        height: 160px;
        width: 285px;
    }
    .layout-mobile .listItem-content .listItemBody {
      left: 298px;
      position: relative;
      bottom: 161px;
      max-width: 64%;
    }
    .secondary.listItem-overview.listItemBodyText {
      height: 6.5em;
      margin: 0;
    }
    .layout-mobile .itemName.parentNameLast.withOriginalTitle {
      margin: -5em 0 0;
    }
  }

  @media (min-width: 75em) and (orientation: landscape) { 
    .layout-mobile .itemBackdrop {
      height: 75vh;
  }
    
    .layout-mobile .detailLogo {
        width: 42em;
    }
    
    .layout-mobile .detailPageWrapperContainer {
      top: -22em;
      position: relative;
    }
    
    .layout-mobile .itemName.parentNameLast {
        margin: 0 0 .4em;
    }
   
    .layout-mobile [dir=ltr] .mainDetailButtons {
      padding-left: 12.5em;
    }
    .layout-mobile .detailLogo {
      display: block;
      width: 49em;
      left: 2%;
      top: 7vw;
      height: 34vh;
    }
    .layout-mobile h1.parentName {
      margin: -13em 0px 0em !important;
      padding-bottom: 3em;
      height: 11em;
    }
    .layout-mobile .itemName.parentNameLast {
      height: 1em;
    }
    .layout-mobile #itemDetailPage .parentName .button-link {
      height: 12em;
      width: 65%;
    }
    .layout-mobile .listItem-content .listItemBody {
      left: 298px;
      position: relative;
      bottom: 161px;
      max-width: 69%;
    }
  }


  @media (min-width: 15em) and (orientation: portrait) { 
    .layout-mobile .itemBackdrop {
      height: 33vh;
    }
    .layout-mobile .mainDrawer {
      width: 280px !important;
    }
    .layout-mobile .infoWrapper .itemMiscInfo-primary{
      font-size: 93%;
    }
    .layout-mobile .libraryPage .btnPlay {
      margin-right: 0.5em !important;
    }
    .layout-mobile .detailPageWrapperContainer {
        top: -5em;
    }
    .layout-mobile .detailLogo {
      display: block;
      width: 19em;
      left: 3%;
      top: 39vw;
    }
    .layout-mobile h1.parentName {
      margin: -4em 0px 0em;
    }
    .layout-mobile #itemDetailPage .parentName .button-link {
      height: 6em;
      width: 85%;
    }
    .layout-mobile [dir=ltr] .mainDetailButtons {
      margin-bottom: 0;
      padding-left: 7.8em;
    }
    .layout-mobile .btnPlay.detailButton {
      position: absolute;
      left: 0.6em;
    }
    .layout-mobile .mainDetailButtons {
      justify-content: space-evenly;
    }
    .layout-mobile .emby-select {
      width: 245px;
    }
    .layout-mobile .selectContainer{
      width: 315px !important;
    }
  }

  @media (min-width: 23em) and (orientation: portrait) { 
    .layout-mobile .itemBackdrop {
      height: 40vh;
    }
    .layout-mobile .mainDrawer {
      width: 315px !important;
    }
      .layout-mobile .infoWrapper .itemMiscInfo-primary{
      font-size: 100%;
    }
    .layout-mobile .libraryPage .btnPlay {
      margin-right: 1em !important;
    }
    .layout-mobile .detailPageWrapperContainer {
        top: -5em;
    }
    .layout-mobile .detailLogo {
      display: block;
      width: 18.5em;
      left: 3%;
      top: 54vw;
    }
    .layout-mobile .itemName.parentNameLast {
      margin: -3em 0px 0em;
      height: 5em;
    }
    .layout-mobile h1.parentName {
      margin: -3em 0px 0em !important;
      padding-bottom: 0;
      height: 5em;
     }
    .layout-mobile #itemDetailPage .parentName .button-link {
      height: 5em;  
      width: 80%;
    }
    .layout-mobile .itemName.parentNameLast.withOriginalTitle {
      margin: -3em 0 0;
    }
    .layout-mobile .detailPagePrimaryContainer {
      padding: 1.5rem 0rem 1rem;
    }
    .layout-mobile .infoWrapper .itemMiscInfo-primary, .layout-mobile .itemName {
      padding: 0em 1.15em 0em;
    }
    .layout-mobile [dir=ltr] .mainDetailButtons {
      margin-bottom: 0;
      padding-left: 9.5em;
    }
    .layout-mobile .btnPlay.detailButton {
      position: absolute;
      left: 1em;
    }
  }

  @media (min-width: 30em) and (orientation: portrait) {
    .layout-mobile .detailLogo {
      display: block;
      width: 20em;
      left: 3%;
      top: 10vw;
    }
    .layout-mobile .detailPageWrapperContainer {
      top: -14em;
      position: relative;
    }
    .layout-mobile [dir=ltr] .mainDetailButtons {
      /* padding-left: 1%; */
    }
    .layout-mobile #itemDetailPage .parentName .button-link {
      height: 5em;
      width: 65%;
    }
  }

  @media (min-width: 35em) and (orientation: portrait) {
    .layout-mobile .detailLogo {
      display: block;
      width: 24em;
      left: 4%;
      top: 10vw;
    }
    .layout-mobile .detailPageWrapperContainer {
      top: -18em;
      position: relative;
    }
    .layout-mobile [dir=ltr] .mainDetailButtons {
      padding-left: 10em;
      justify-content: unset;
    }
    /* text layout - from Zombie */
    .layout-mobile .btnShuffle,
    .layout-mobile .listViewUserDataButtons,
    .layout-mobile .material-icons.detailButton-icon.check,
    .layout-mobile .material-icons.detailButton-icon.favorite,
    .layout-mobile .material-icons.detailButton-icon.more_vert,
    .layout-mobile .material-icons.detailButton-icon.replay,
    .layout-mobile .material-icons.detailButton-icon.theaters {
      display: none;
    }

    .layout-mobile .btnMoreCommands::after,
    .layout-mobile .btnPlay::after,
    .layout-mobile .btnPlayTrailer::after,
    .layout-mobile .btnPlaystate::after,
    .layout-mobile .btnReplay::after,
    .layout-mobile .btnUserRating::after,
    .layout-mobile .btntheaters::after {
      content: attr(title);
    }
    .layout-mobile .btnPlay.detailButton {
      position: absolute;
      left: 2em;
    } 
    .layout-mobile h1.parentName {
      margin: -6em 0px 0em !important;
      height: 8em;
    }
    .layout-mobile #itemDetailPage .parentName .button-link {
      height: 7em;  
      width: 60%;
    }
  }
